.WelcomePage-Container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome-Background 
{
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url('../assets/Img_Fondo1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ocupa al menos toda la altura de la ventana */
  width: 100vw;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Welcome-Background::after
{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.Welcome-Bar 
{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0);
  align-items: center;
  padding: 10px 20px; /* Añadir un padding para que haya más espacio */
  z-index: 1;
}
.Welcome-Bar::after 
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.Button-Container 
{
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.Welcome-Container 
{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Asegura que los elementos dentro se alineen a la izquierda */
  flex-grow: 1;  /* Permite que el contenedor crezca y ocupe todo el ancho disponible */
  width: 100%;  /* Aseguramos que ocupe el 100% del ancho disponible */
  padding-top: 20px;
  padding-left: 150px;
}

/* Texto superior */
.Company-Phrase 
{
  font-size: 2rem;  /* Escalable con `rem` */
  font-weight: bold;
  color: #f9f9f9;
  margin-bottom: 20px;  /* Espacio entre los textos */
}

/* Texto principal */
.Initial-Phrase 
{
  white-space: pre-wrap;  /* Para permitir saltos de línea automáticos */
  font-size: 4rem;  /* Tamaño grande, pero escalable */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}

.NetBin-Information
{
  width: 600px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  padding: 20px;
  font-size: 1.2rem;
  color: white;
  border-radius: 10px;
}

.NetBin-Logo-Container
{
  display: flex;
  height: auto;
  width: 85px;
  margin-right: 20px;
  align-items: center;
}

#logo-netbin
{
  margin: 10px;
}

#letters-netbin
{
  margin: 10px;
}

.Information-Container 
{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
}

.Information-About-NetBin
{
  position: relative;
  background-color: #cbc1af;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 0px;
}

.Information-About-NetBin::after 
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.Information-Title-About-NetBin
{
  color: #000000;
  font-size: 24px;
  font: bold;
  padding-bottom: 10px;
  font-weight: bold;
}

.Information-Text-About-NetBin
{
  color: #000000;
  font-size: 16px;
  text-align: center;
  white-space: pre-wrap;
}

.Product-Description-Container
{
  position: relative;
  /* background-color: rgb(255, 0, 0); */
  display: flex;
  justify-content: space-between; /*Mantiene un espacio uniforme entre los componentes*/
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.Product-AI
{
  background: #cbc1af;
  border-radius: 30px;
  width: 250px;
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Product-Text
{
  color: #000000;
  padding-top: 10px;
  text-align: center;
}

.Product-Rewards
{
  background: #cbc1af;
  border-radius: 30px;
  width: 250px;
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Product-Focus
{
  background: #cbc1af;
  border-radius: 30px;
  width: 250px;
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* From Uiverse.io by AlimurtuzaCodes */ 
.Product-Button {
  border: none;
  width: 15em;
  height: 3em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.Bin-On-Button {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.Text-On-Button {
  font-weight: 600;
  color: #AAAAAA;
  font-size: 16px;
}

.Product-Button:hover {
  background: linear-gradient(0deg, #4CAF50, #1e8449);
  transform: translateY(-2px);
}

.Product-Button:hover .Text-On-Button {
  color: white;
}

.Product-Button:hover .Bin-On-Button {
  fill: white;
  transform: scale(1.2);
} 

/* Media Queries para tablets */
@media (min-width: 768px) and (max-width: 1024px) 
{
  .Welcome-Background 
  {
      background-position: center;
      background-size: cover;  /* Aseguramos que el fondo no se corte en pantallas medianas */
      padding: 20px;
  }

  .Welcome-Bar {
      padding: 10px 30px; /* Añadir más padding en tablets */
  }

  .Welcome-Bar::after {
      width: 85%; /* Ajustar el ancho de la línea */
      left: 7.5%; /* Centrar la línea */
  }

  .Welcome-Bar a {
      font-size: 16px; /* Ajustar el tamaño de los enlaces en tablets */
  }

  .Welcome-Container {
      padding-left: 10vw;  /* Cambiamos el margen izquierdo a un 10% del ancho de la ventana */
  }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) 
{
  .Welcome-Background 
  {
      background-position: top;  /* Ajustar el fondo en dispositivos más pequeños */
      background-size: cover;
      padding: 20px;  /* Añadimos un poco de padding */
      height: auto;   /* Permitir que el contenido crezca */
  }

  .Welcome-Bar 
  {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columnas */
    justify-content: flex-start; /* Alinea los elementos hacia arriba */
    align-items: flex-start; /* Alinea los elementos hacia la izquierda */
    padding: 10px 15px; /* Ajuste del padding */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    gap: 5px;
  }

  .Welcome-Bar::after 
  {
      width: 90%; /* Reducir el ancho de la línea inferior */
      left: 5%; /* Ajustar el centrado de la línea inferior */
  }

  .Welcome-Bar a 
  { 
      font-size: 14px; /* Reducir el tamaño de la fuente para los enlaces */
  }

  .Welcome-Container {
      width: 100%;  /* Asegura que ocupe todo el ancho en móviles */
      padding-left: 5vw;  /* Reducimos el margen izquierdo aún más en pantallas pequeñas */
      padding-right: 5vw;  /* También ajustamos el margen derecho */
  }

  .Company-Phrase {
      font-size: 1.5rem;
  }

  .Initial-Phrase {
      font-size: 2.5rem;
  }

  .Product-Button {
      width: 180px;
  }

  .Product-Description-Container{
      width: 100%;  /* Asegura que ocupe todo el ancho en móviles */
      padding-left: 5vw;  /* Reducimos el margen izquierdo aún más en pantallas pequeñas */
      padding-right: 5vw;  /* También ajustamos el margen derecho */
      flex-direction: column;
      gap: 15px;
  }

  .Information-About-NetBin
  {
    width: 100%;
  }

  #logo-netbin
  {
    margin: 5px;
    width: 50% !important;
    height: 50% !important;
  }
}